/*GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*HERO*/ 
.hero {
    display: flex;
    justify-content: center;
    padding: 32px 64px;
}
.hero ul li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 22px;
}
.right-links {
    margin-left: auto;
}
.right-links ul {
    display: flex;
    gap: 22px;
}
/*HEADER*/ 
.header {
    height: 40vh;
    border: 1px red solid;
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 32px 0;
}
.left-section, 
.right-section {
    width: 700px;
    border: 3px blue solid;
    flex-shrink: 1;
}
/*INFO*/ 
.info {
    border: 2px green solid;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
}
.info-items {
    display: flex;
    gap: 32px;
}
.item {
    border: 2px pink solid;
    width: 170px;
    height: 170px;
    border-radius: 10px;
}
#h-info {
    margin-bottom: 16px;
}
.info-box {
    width: min-content;
    display: flex;
    flex-direction: column;
}
.info-box p {
    padding: 14px;
    text-align: center;
}
/*QUOTE*/
.quote {
    border: 3px yellow solid;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-mark {
    border: 2px purple solid;
    width: 700px;
    height: 20vh;
    padding: 48px;
}
.quote-box {
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.quote-name {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 600;
}
.quote-box p {
    font-size: 20px;
}
